@layer utilities {
  .shadow-profile-widget {
    box-shadow: -2px -2px 30px rgba(166, 241, 250, 0.3), 16px 12px 36px rgba(0,0,0,0.9);
  }
  .shadow-add-image-button {
    box-shadow: -1px -1px 10px rgba(166, 241, 250, 0.3), 1px 8px 16px rgba(0,0,0,0.9);
  }
  .shadow-main-divs {
    box-shadow: 4px 4px 10px rgba(0,0,0,0.9);
  }
}